.footer {
  margin-top: 50px;
  border-top: 1px solid #858585;
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  font-family: var(--font-family-PTsan) !important;
  .footer-content {
    padding: 30px 60px;
    display: flex;
    justify-content: space-around;
    h2 {
      font-family: var(--font-family-Barlow);
    }
  }

  .footer-section {
    flex: 1;
    margin-right: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding-bottom: 10px;
    }
  }

  a {
    color: var(--black);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  .hover-effect {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    overflow: hidden;
    svg {
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.5s ease;
      transform: translateX(-100%);
    }
    .qodef-menu-item-brush {
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 80%;
  }
  }
  .hover-effect:hover svg {
    opacity: 1;
    transform: translateX(0);
    color: #000;
  }
}
